<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="MySQLConnection" 
         connectionString="Server=localhost;Port=3306;Database=convenience_store;Uid=store_app;Pwd=store123;Charset=utf8mb4;" 
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="StoreName" value="Cửa hàng Tiện lợi ABC" />
    <add key="TaxRate" value="8" />
  </appSettings>
</configuration>
